body{
    /*background: #2A7B9B;*/
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #2A7B9B, #57C785, #EDDD53);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.center {
    margin: auto;
    margin-top: 50px;
    padding: 10px 20px;
    width: 30%;
}

.glass{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(10, 10, 10, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    color: white;
}
